* {
  margin: none;
  padding: none;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-primary: #f3494e;
  --background-secondary: #ff8d4c;
  --text-primary: #0e0c22;
  --text-secondary: #696872;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar__logo {
  width: 12vw;
  /* height: 10vh; */
  cursor: pointer;
  margin: 30px 0;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-secondary);
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
}

.details__col {
  width: 60vw;
}

.soumik__pic {
  width: 25vw;
  border-radius: 20px;
}

.name__details {
  font-size: 1.5rem;
  font-weight: 550;
}

.introduction__details {
  font-size: 2rem;
  font-weight: bold;
}

.button {
  border: 1px solid var(--background-secondary);
  padding: 10px 20px;
  color: var(--background-secondary);
  font-size: 0.9rem;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button__resume {
  margin-right: 0.5rem;
}

.button__talk {
  margin-left: 0.5rem;
  color: white;
  background: linear-gradient(
    to right,
    var(--background-secondary),
    var(--background-primary)
  );
}

.resume__redirect {
  text-decoration: none;
  color: var(--background-secondary);
}

.talk__redirect {
  text-decoration: none;
  color: white;
}
